<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <display-name>Mishka</display-name>

    <servlet>
        <servlet-name>com.elstano.mishka.web.gwt.main.Main SettingsService</servlet-name>
        <servlet-class>ru.org.icad.mishka.web.gwt.main.server.settings.SettingsServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ru.org.icad.mishka.web.gwt.main.Main UploadProgressService</servlet-name>
        <servlet-class>ru.org.icad.mishka.web.gwt.main.server.UploadProgressServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ru.org.icad.mishka.web.gwt.main.Main UploadServlet</servlet-name>
        <servlet-class>ru.org.icad.mishka.web.gwt.main.server.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ru.org.icad.mishka.web.gwt.main.Main DownloadServlet</servlet-name>
        <servlet-class>ru.org.icad.mishka.web.gwt.main.server.DownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ru.org.icad.mishka.web.gwt.main.Main DevService</servlet-name>
        <servlet-class>ru.org.icad.mishka.web.gwt.main.server.dev.DevServiceImp</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>com.elstano.mishka.web.gwt.main.Main SettingsService</servlet-name>
        <url-pattern>/mishka_gwt/SettingsService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ru.org.icad.mishka.web.gwt.main.Main UploadProgressService</servlet-name>
        <url-pattern>/mishka_gwt/uploadprogress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ru.org.icad.mishka.web.gwt.main.Main UploadServlet</servlet-name>
        <url-pattern>/mishka_gwt/uploadprogress/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ru.org.icad.mishka.web.gwt.main.Main DownloadServlet</servlet-name>
        <url-pattern>/mishka_gwt/uploadprogress/download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ru.org.icad.mishka.web.gwt.main.Main DevService</servlet-name>
        <url-pattern>/mishka_gwt/DevService</url-pattern>
    </servlet-mapping>

    <description>
        Multi-criteria Interactive Scheduling Heuristic Kits Assembly
    </description>

    <listener>
        <listener-class>ru.org.icad.mishka.web.init.AppInitListener</listener-class>
    </listener>

</web-app>